h1 {
	background-color:#6699CC;
	width: 400px;
	padding:
	border:
	margin:
	height:
}
nav > ul{
	background-color:
	width:
	padding:
	border:
	margin:
	height:
}
article + p{
	background-color:
	width:
	padding:
	border:
	margin:
	height:
}
article ~ ul{
	background-color:
	width:
	padding:
	border:
	margin:
	height:
}

	
