h1 {
	color:#006699;
	font-family:"courier new";
	font-style:italic;
	border:solid 5px;
	background-color:#00FFCC
}
h2 {
	color:#00FF00;
	font-family: "lucida console";
	font-style:50px
	font-style:bold;
}
	

